@mixin flex-center($direction, $text){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  text-align: $text;
}

@mixin border(){
  border: 1px solid gray;
  border-radius: 4px;
}

@mixin width-margin(){
  width: 90%;
  margin: 10px auto;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

$primary: #A1F2E5;
$secondary: #22A79D;
$tertiary: #8AC1F0;
$quaternary: #DEF8F4;